.carousel-inner .carousel-item img {
    height: 505px !important;
    width: 100% !important;
}
/* .carousel-control-prev-icon {
    background-image: url(../image/chevron-left-solid.svg) !important;
} */